@import "tailwindcss";

@theme {
	--font-sans:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	--color-primary: #014b00;
	--color-background: #1ff;
	--color-muted: #222222;
	--color-muted-foreground: #888;
}

:root {
	color-scheme: light dark;
}

body {
	margin: 0;
	flex: 1;
	justify-content: center;
	align-items: center;
}

@layer base {
	h1 {
		font-size: var(--text-3xl);
		font-weight: var(--font-weight-bold);
		line-height: var(--tw-leading, var(--text-3xl--line-height));
	}
}
